* {
  box-sizing: border-box;
}
:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}
#app-container {
  max-width: 100vw;
  max-height: 100vh;
}
.main-header {
  display: flex;
  align-items: center;
  background-color: aqua;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.profile-container {
  display: flex;
  align-items: center;
  width: 20vw;
  margin: 0;
  padding: 0;
}
.profile-container > img {
  width: 100%;
  border-radius: 50%;
}
.user-details {
  margin-left: 2.5vw;
}
.user-details > * {
  font-size: 1.25rem;
  margin: 0.5em 0;
  background-color: rgb(201, 201, 201);
  padding: 0.15em 0.3em;
  border-radius: 0 0.625em 0.625em 0;
}




select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}
.schools-list {
  display: grid;
  grid-template-areas: "select";
  margin-left: auto;
  margin-right: 5vw;
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  align-items: center;
  position: relative;
}
select,
.schools-list::after {
  grid-area: select;
}
.schools-list::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}
select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}




.list-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
body {
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(65, 65, 65);
  border-radius: 2em;
  padding: 0.25em 1.25em;
}
.main-nav {
  display: flex;
  justify-content: space-around;
  background-color: #777;
  width: 100vw;
  padding: 0.25em;
}

.map {
  width: 80vw;
  height: 30vh;
  margin: 10vw;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}



.main-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5vw;
  width: 80vw;
  margin: 10vw;
}
.extra-options {
  width: 37.5vw;
  height: 37.5vw;
  background-color: black;
  border-radius: 5px;
}